
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans+TC:wght@100&family=Tinos&display=swap');


h1{
  font-family: 'Francois One', sans-serif;
  color: #A5BF99;
}

h2{
  font-family: 'Noto Sans TC', sans-serif;
}

p{
  font-family: 'Tinos', serif;
}

a{
  text-decoratiion: none;
  color: : FFFFFF;
}

a:visited{
  text-decoration: underline;
  color: #000000;
}

a:clicked{
text-decoratiion: none;
}

a:hover{
  background-color:#A5BF99;
  color: white;
}

a: link{
  font-style: italic;
  text-decoratiion: none;
}

a: active{
  background-color:#A5BF99;
}

footer{
  background-color:lightblue;
}
